
*{
    -fx-font-family: sans-serif;
    -fx-font-size: 14px;
}

.border-pane {
    -fx-background-color: linear-gradient(to bottom, #E8ECD7, #D0D8B8);
    -fx-padding: 20;
}

.title {
    -fx-font-family: sans-serif;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #88591e;
    -fx-alignment: center;
    -fx-padding: 20 0 20 0;
}

.text {
    -fx-font-family: sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #88591e;
    -fx-alignment: center-left;
}

.textField {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: #1F4529;
    -fx-alignment: center;
}
.spinner{
}
.box-property{
    -fx-padding: 10 10 0 20;
}
.config-button {
    -fx-font-family: sans-serif;
    -fx-font-size: 22px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #1F4529;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-margin: 10 10;
    -fx-border-color: #47663B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-wrap-text: true; /* Enable text wrapping */
}

.config-button:hover {
    -fx-background-color: #47663B;
}

.config-button:pressed {
    -fx-background-color: #88591e;
}

.start-button {
    -fx-font-family: sans-serif;
    -fx-font-size: 22px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #1F4529;
    -fx-background-radius: 10;
    -fx-padding: 10 300;
    -fx-border-color: #47663B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.start-button:hover {
    -fx-background-color: #47663B;
}

.start-button:pressed {
    -fx-background-color: #88591e;
}

.back-button {
    -fx-font-family: sans-serif;
    -fx-font-size: 22px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #1F4529;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-border-color: #47663B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.back-button:hover {
    -fx-background-color: #47663B;
}

.back-button:pressed {
    -fx-background-color: #88591e;
}

.wrapper-buttons {
    -fx-padding: 20;
}