
#mapGrid {
    -fx-background-color: #F8F9E8;
}

.map-label {
    -fx-font-size: 14px;
}

.title-stats {
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #47663B;
}

.left HBox Label {
    -fx-font-family: sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #88591e;
}

.left Label {
    -fx-font-size: 16px;
    -fx-text-fill: #47663B;
    -fx-padding: 0 10 0 10;
}

#startButton {
    -fx-font-family: sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #1F4529;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-border-color: #47663B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-pref-width: 150px;
}

#startButton:hover {
    -fx-background-color: #47663B;
}

#startButton:pressed {
    -fx-background-color: #88591e;
}

#stopButton {
    -fx-font-family: sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #1F4529;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-border-color: #47663B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-pref-width: 150px;
}

#stopButton:hover {
    -fx-background-color: #47663B;
}

#stopButton:pressed {
    -fx-background-color: #88591e;
}

#highlightedAnimalVBox {
    -fx-padding: 20;
}

#generalStatisticsVBox {
    -fx-padding: 20;
}

.chartButton{
    -fx-font-family: sans-serif;
    -fx-font-size: 10px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #88591e;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

