.border-pane {
        -fx-background-color: linear-gradient(to bottom, #E8ECD7, #D0D8B8); /* Gradient background */
        -fx-padding: 30;
}

.title {
    -fx-font-family: sans-serif;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #88591e;
    -fx-alignment: center;
    -fx-padding: 40 0 40 0;
}

.subtitle {
    -fx-font-family: sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #47663B;
    -fx-alignment: center;
    -fx-padding: 0 0 30 0;
}

.config-button {
    -fx-font-family: sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #EED3B1;
    -fx-background-color: #1F4529;
    -fx-background-radius: 15;
    -fx-padding: 20 40;
    -fx-border-color: #47663B;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-wrap-text: true;
}

.config-button:hover {
    -fx-background-color: #47663B;
}

.config-button:pressed {
    -fx-background-color: #88591e;
}

